<h2 mat-dialog-content>Create A New Movie List</h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="searchInput">
  </mat-form-field>

  <mat-list dense>
      <mat-list-item *ngFor="let movie of (searchResults$ | async)?.movies">{{movie?.Title}}</mat-list-item>
      <mat-list-item *ngIf="!(searchResults$ | async)?.movies?.length">{{(searchResults$ | async)?.error}}</mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="createList()">
    Save<mat-icon>save</mat-icon>
  </button>
</mat-dialog-actions>