<h2 *ngIf="!editing; else editingHeader" mat-dialog-content>Create A New Movie List</h2>
<ng-template #editingHeader><h2 mat-dialog-content>Edit {{data.listName}}</h2></ng-template>

<mat-dialog-content>
	<br>
	<br>
	<div class="form-row">
		<mat-form-field>
			<input matInput placeholder="List Name" [(ngModel)]="listName">
		</mat-form-field>
		<mat-form-field >
			<input matInput placeholder="Search for Movies" [(ngModel)]="searchInput">
		</mat-form-field>
	</div>

	<mat-list class="searchList">
		<h3 mat-subheader>Search Results</h3>
		<mat-divider></mat-divider>
		<mat-list-item *ngFor="let movie of searchResults">
			<mat-checkbox [value]="movie" (change)="movieSelected($event, movie)">{{movie?.Title}} - {{movie?.Year}} </mat-checkbox>
		</mat-list-item>
	</mat-list>

	<mat-list *ngIf="(searchError$ | async)">
		<mat-list-item>
				{{(searchError$ | async)}}
		</mat-list-item>
	</mat-list>

	<mat-list class="selectedList">
		<h3 mat-subheader>Selected Movies</h3>
		<mat-divider></mat-divider>
		<mat-list-item *ngFor="let movie of selectedMovies">
			<mat-checkbox checked="true" [value]="movie" (change)="movieSelected($event, movie)">{{movie?.Title}} - {{movie?.Year}} </mat-checkbox>
		</mat-list-item>
	</mat-list>

</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-raised-button color="accent" [mat-dialog-close]="false" [disabled]="loading">
		Cancel
	</button>
	<button mat-raised-button color="primary" (click)="createList()" [disabled]="!listName || loading">
		Save
	</button>
</mat-dialog-actions>