<div class="cardContainer">
  <mat-card  color="primary" *ngFor="let list of ( movieList$ | async )">
    <mat-card-title>{{list?.name}}</mat-card-title>
    <mat-card-subtitle>text text text</mat-card-subtitle>

    <img mat-card-img src="../../assets/img/posterTemplate.jpg" mdTooltip="Create a new list">

    <mat-card-actions align="end">
      <button mat-icon-button color="primary">
        <mat-icon matTooltip="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon matTooltip="Delete">delete_forever</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card (click)="openCreateAMovieListDialog()" class="addNewListCard">
    <mat-card-title>Create A New Movie List</mat-card-title>

    <img mat-card-img src="../../assets/img/posterTemplate.jpg" mdTooltip="Create a new list">

    <mat-card-actions align="end">
        <button mat-icon-button color="primary">
            <mat-icon matTooltip="Create a new list">add_circle_outline</mat-icon>
          </button>
    </mat-card-actions>

  </mat-card>
</div>
