.detailsContainer {
    display: flex;
    flex-direction: row;
}

.movieCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

mat-card {
    width: 300px;
    margin: 0.5em auto;

    &:hover {
        background-color: transparent;
    }

    mat-card-title {
        cursor: pointer;
    }

    img {
        cursor: pointer;
        display: block;
        max-width: 230px;
        max-height: 300px;
        width: auto;
        height: auto;
        margin: auto;
    }
}