<mat-toolbar color="accent">
    <h2 class="header">
      <a [routerLink]="['/list', selectedList?.name, 'details']" (click)="clearSelectedMovie()">
        <b>List: {{ selectedList?.name | uppercase }}</b>
      </a>

      Average Movie Rating: {{ selectedList?.averageRating}}/100
    </h2>


    <mat-form-field floatPlaceholder="never">
      <input matInput [(ngModel)]="filterTerm" placeholder="Search">
      <mat-icon>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button [matMenuTriggerFor]="sortMenu">
        Sort <mat-icon>sort</mat-icon>
    </button>

    <button mat-raised-button matTooltip="Add or remove a movie. Change the title" (click)="openAddMovieDialog()">
        Edit List <mat-icon>local_movies</mat-icon>
    </button>

</mat-toolbar>

<div class="detailsContainer">
  <div class="movieCardContainer" *ngIf="!selectedMovie">
    <mat-card  color="primary" *ngFor="let movie of filteredMovies">
      <mat-card-title class="nestedRouterLink" (click)="navToMovieDetails(movie)">{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>{{movie.Rated}}, {{movie.Year}}, {{movie.Genre}}</mat-card-subtitle>

      <img
        (click)="navToMovieDetails(movie)"
        mat-card-image
        [src]="getMoviePoster(movie.Poster)"
        matTooltip="Click for Details"
        class="nestedRouterLink">

      <mat-card-actions align="end">

        <button mat-icon-button color="warn" (click)="deleteMovie(movie)">
          <mat-icon matTooltip="Delete">delete_forever</mat-icon>
        </button>

      </mat-card-actions>

    </mat-card>
  </div>

  <router-outlet></router-outlet>

</div>

<mat-menu #sortMenu="matMenu">
  <button mat-menu-item (click)="sortBy('abc')">
    Alphebetical
  </button>
  <button mat-menu-item (click)="sortBy('rate')">Highest Rating</button>
</mat-menu>